@using BookStore.Models
@model ProductVM

<div class="card shadow border my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2> <!-- Form title -->
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Fixed the class name here -->
        <form method="post" class="row">
            <!-- Form submission method is POST -->
            <div class="border p-3 ">
                <!-- Container for the form -->


                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Title" class="form-control border-0 shadow" /> <!-- Input for Product name -->

                    <label asp-for="Product.Title" class="ms-2"></label> <!-- Label for Name field -->
                    <span asp-validation-for="Product.Title" class="text-danger"></span> <!-- Validation message for Name -->
                </div>

                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Product.Description" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.Description" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ISBN" class="form-control border-0 shadow" /> <!-- Input for Product name -->

                    <label asp-for="Product.ISBN" class="ms-2"></label> <!-- Label for Name field -->
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span> <!-- Validation message for Name -->
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Author" class="form-control border-0 shadow" /> <!-- Input for display order -->
                    <label asp-for="Product.Author" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.Author" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ListPrice" class="form-control border-0 shadow" /> <!-- Input for Product name -->

                    <label asp-for="Product.ListPrice" class="ms-2"></label> <!-- Label for Name field -->
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span> <!-- Validation message for Name -->
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price" class="form-control border-0 shadow" /> <!-- Input for display order -->
                    <label asp-for="Product.Price" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.Price" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price50" class="form-control border-0 shadow" /> <!-- Input for Product name -->

                    <label asp-for="Product.Price50" class="ms-2"></label> <!-- Label for Name field -->
                    <span asp-validation-for="Product.Price50" class="text-danger"></span> <!-- Validation message for Name -->
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price100" class="form-control border-0 shadow" /> <!-- Input for display order -->
                    <label asp-for="Product.Price100" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.Price100" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ImageUrl" class="form-control border-0 shadow" /> <!-- Input for display order -->
                    <label asp-for="Product.ImageUrl" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.ImageUrl" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>
                <div class="form-floating py-2 col-12">
                    <!--  <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow"> -->

                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select CategoryId</option>
                    </select><!-- Input for display order -->
                    <label asp-for="Product.CategoryId" class="ms-2"></label> <!-- Label for Display Order field -->

                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span> <!-- Validation message for Display Order -->
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button> <!-- Submit button -->
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">Back To List</a> <!-- Link to go back -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" /> <!-- Include validation scripts -->
}